/* Color Variables */

:root {
    --background-color: #E5EAFA;
    --background-color-dark: #111111;

    --brand-burgundy: #800020;
    --brand-burgundy-light: #A0002D;

    --red-primary: #FF3B3B;
    --red-secondary: #FF5C5C;

    --aqua-primary: #78FECF;
    --aqua-secondary: #9AFEDB;
}

/* Gradients */

.gradient-red {
    background: linear-gradient(0deg, var(--red-primary), var(--red-secondary));
}

.gradient-red-font {
    background: linear-gradient(0deg, var(--red-primary), var(--red-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-aqua {
    background: linear-gradient(0deg, var(--aqua-primary), var(--aqua-secondary));
}

.gradient-aqua-font {
    background: linear-gradient(90deg, var(--aqua-primary), var(--aqua-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-brand {
    background: linear-gradient(0deg, var(--brand-burgundy), var(--brand-burgundy-light));
}

.gradient-brand-font {
    background: linear-gradient(0deg, var(--brand-burgundy), var(--brand-burgundy-light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: var(--background-color-dark);
    font-family: "Roboto", sans-serif;
}

/* Nav Bar */

nav {
    width: 100%;
    padding: 20px 40px;
    background-color: var(--background-color-dark);
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo-container {
    flex: 0 0 auto;
}

.logo {
    height: 50px;
    object-fit: contain;
    transition: transform 0.2s ease;
}

.logo-link {
    transition: transform 0.2s ease, fill 0.2s ease;
}

.logo-link:hover .logo {
    transform: scale(1.2);
}

.logo-link:active .logo {
    transform: scale(1);
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: var(--background-color);
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    position: relative;
    transition: text-shadow 0.3s ease, animation 0.3s ease, opacity 0.05s ease;
}

.nav-links a:hover {
    text-shadow: 1px 0 var(--red-primary), -1px 0 var(--aqua-primary);
    animation: glitch 0.5s infinite;
}

.nav-links a:active {
    opacity: 0.5;
}

/* Line Under Nav Bar Links */

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--background-color);
    box-shadow: 0 0 5px var(--background-color);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Header */

header {
    max-width: 1750px;
    height: 650px;
    background-color: var(--background-color);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    max-height: 500px;
    object-fit: contain;
}

/* Section Presentation */

.section-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 0;
    max-width: 1750px;
    min-height: 650px;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color-dark);
}

.section-white {
    align-items:flex-start;
    background-color: var(--background-color);
}

.presentation {
    align-items: center;
}

.left-text, .right-text {
    width: 40%;
}

.left-text h2, .right-text h2 {
    font-size: 3.5em;
    font-family: "Anton", sans-serif;
    font-weight: 500;
    text-align: center;
}

.left-text p, .right-text p {
    font-size: 2em;
    font-family: "Noto Sans", sans-serif;
    color: var(--background-color);
    text-align: center;
    line-height: 1.5;
}

/* Raykon News Section */

.raykon-news {
    width: 85%;
    margin-top: 50px;
}

.raykon-news h2 {
    font-size: 4.5em;
    font-family: "Anton", sans-serif;
    font-weight: 500;
    text-align: left;
}

/* News Cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.news-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    box-sizing: border-box;
    position: relative;
    background-color: var(--background-color-dark);
    border-radius: 2px;
    height: 400px;
    width: 450px;
    max-width: 450px;
    max-height: 400px;
    color: var(--background-color);
    border: 4px solid transparent;
    overflow: hidden;
    transition: all 0.3s ease;
}

.news-card:hover {
    transform: scale(1.02);
    border-color: var(--brand-burgundy-light);
    background-color: var(--background-color);
    color: var(--background-color-dark);
}

.news-card:hover img {
    transform: scale(1.05);
}

.cards a {
    text-decoration: none;
}

.news-card h3 {
    font-family: "Oswald", sans-serif;
    font-size: 1.9em;
    margin-bottom: 10px;
    margin-top: 7.5px;
    margin-left: 15px;
}

.news-card p {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.news-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.6s ease;
}

/* Explore More section */

.white-card {
    background-color: var(--background-color);
    color: var(--background-color-dark);
}

.white-card:hover {
    background-color: var(--background-color-dark);
    color: var(--background-color);
    border-color: var(--aqua-primary);
}

.explore-more {
    width: 85%;
    margin-top: 50px;
}

.explore-more h2 {
    font-size: 4.5em;
    font-family: "Anton", sans-serif;
    font-weight: 500;
    color: var(--background-color);
    text-align: right;
}

.explore-more h3 {
    font-family: "Oswald", sans-serif;
    font-size: 1.9em;
    margin-bottom: 10px;
}

.explore-more p {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.3em;
    margin-bottom: 20px;
}

/* Button Styles */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.button {
    display: flex;
    justify-content: center;
    font-family: "Anton", sans-serif;
    background: linear-gradient(0deg, var(--brand-burgundy), var(--brand-burgundy-light));
    color: var(--background-color);
    border-radius: 1px;
    font-size: 3.5em;
    text-align: center;
    text-decoration: none;
    width: 250px;
    max-width: 300px;
    transition: all 0.2s ease;
    overflow: hidden;
}

.button:hover {
    background: var(--background-color);
    color: var(--background-color-dark);
    transform: scale(1.05);
}

.button:hover .glitch-text {
    animation: glitch 0.5s infinite;
}

.glitch-text {
    display: inline-block;
    transition: all 0.2s ease;
}

.button:active {
    transform: scale(1);
}

/* Glitch Animation */

@keyframes glitch {
    0% {
        text-shadow: 1px 0 var(--red-primary), -1px 0 var(--aqua-primary);
        transform: translate(0, 0);
    }
    
    20% {
        text-shadow: -2px -1px var(--red-primary), 2px 1px var(--aqua-primary);
        transform: translate(1px, -1px);
    }
    
    40% {
        text-shadow: 2px 1px var(--red-primary), -2px -1px var(--aqua-primary);
        transform: translate(-1px, 1px);
    }

    60% {
        text-shadow: 1px 0 var(--red-primary), -1px 0 var(--aqua-primary);
        transform: translate(0, 0);
    }

    80% {
        text-shadow: -1px 1px var(--red-primary), 1px -1px var(--aqua-primary);
        transform: translate(1px, 1px);
    }

    100% {
        text-shadow: 1px -1px var(--red-primary), -1px 1px var(--aqua-primary);
        transform: translate(-1px, -1px);
    }
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    color: var(--background-color);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

/* Responsive Media Queries */

@media screen and (max-width: 1482px) {
    .cards {
        margin-bottom: 60px;
    }    
}

@media screen and (max-width: 768px) {

    .nav-links a {
        font-size: 1em;
    }

    .left-text, .right-text {
        width: 70%;
        max-width: 400px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .left-text h2, .right-text h2 {
        font-size: 2.5em;
    }

    .left-text p, .right-text p {
        font-size: 1.2em;
    }

    header img {
        max-height: 350px;
    }

    .button {
        font-size: 3em;
        width: 215px;
        margin-bottom: 4em;
    }

    .cards {
        margin-bottom: 60px;
    }

    .news-card {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .news-card img {
        height: 200px;
    }

    .raykon-news h2 {
        font-size: 3.5em;
        text-align: center;
    }

    .explore-more h2 {
        font-size: 3em;
        text-align: center;
    }

    .cards h3 {
        font-size: 1.5em;
    }

    .cards p {
        font-size: 1.1em;
    }
    
}

@media screen and (max-width: 400px) {

    header img {
        max-height: 250px;
    }

    .left-text h2, .right-text h2 {
        font-size: 2.5em;
    }

    .left-text p, .right-text p {
        font-size: 1em;
    }

    .button {
        font-size: 2.5em;
        width: 200px;
    }
}